# Ignore everything by default
*

# Whitelist .gitignore itself so it is tracked
!.gitignore

# Whitelist the directories i want tracked
!doom/
!doom/**

!fish/
!fish/**

!ghostty/
!ghostty/**

!sway/
!sway/**

!waybar/
!waybar/**

!foot/
!foot/**

!rofi/
!rofi/**

# ignore fish/fish_variables
fish/fish_variables
